<form method="POST" accept="/add">
<input name="firstname" type="text" placeholder="Nombre" required>
<input name="lastname" type="text" placeholder="Apellidos" required>
<input name="adress" type="text" placeholder="Direccion" required>
<button type="submit">Agregar</button>
</form>